body {
    padding-top: 35px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #faeee7;
}

.weather-app-border, .forecast {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    max-width: 600px;
    margin: 30px auto;
    margin-bottom: auto;
    border: 2px solid #191970;
    border-radius: 15px;
    padding: 20px;
}

.forecast {
    margin: 10px auto;
}

h1 {
    padding-top: 20px;
    font-size: 36px;
    line-height: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0px;
}

ul {
    margin: 0;
    padding: 0;
}

.col-6 li {
    list-style-type: none;
    padding-left: 30px;
    font-size: 20px;
    line-height: 21px;
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.form-inline {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.current-temperature {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.today-icon {
    float: left;
}

#temperature {
    font-size: 36px;
}

#description {
    padding-top: 5px;
}

.units {
    font-size: 16px;
    position: relative;
    top: -10px;
}

.myName {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#search-button, #location-button {
    color: #191970;
    border: 1px solid #191970;
}


#search-button:hover, #location-button:hover {
    background-color: #F5F5F5;
}
