body {
    font-family: 'Courier New', Courier, monospace;
}

.weather-app-border {
    max-width: 600px;
    margin: 30px auto;
    border: 2px solid #191970;
    border-radius: 15px;
    padding: 20px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

.form-inline {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.current-temperature {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.today-icon {
    font-size: larger;
}

#temperature {
    font-size: 32px;
}

.units {
    font-size: 16px;
    position: relative;
    top: -10px;
}

.myName {
    display: block;
    margin: 0 auto;
    text-align: center;
}