body {
    padding-top: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: #191970;
    background-color: #faeee7;
}

.weather-app-border, .forecast {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    max-width: 600px;
    margin: 30px auto;
    margin-bottom: auto;
    border: 2px solid #191970;
    border-radius: 15px;
    padding: 20px;
}

.forecast {
    margin: 10px auto;
}

h1 {
    font-size: 36px;
    font-weight: bolder;
    text-align: left;
    padding-top: 10px;
    padding-left: 12px;
    margin-bottom: 0px;
    display: block;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.col-6 li {
    list-style-type: none;
    font-size: 20px;
    line-height: 21px;
    display: block;
    margin: 0 auto;
    word-wrap: break-word;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.form-inline {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#temperature {
    padding-top: 20px;
    padding-left: 8px;
    font-size: 36px;
}

.units {
    font-size: 16px;
    position: relative;
    top: -10px;
}

.today-emoji {
    font-size: 38px;
    padding-left: 20px;
}

.name-contact {
    text-align: center;
}

.fa-instagram, .fa-linkedin {
    color: #191970;
    text-align: center;
} 

#location-button {
    margin-left: 8px;
}

#search-button, #location-button {
    background-color: #191970;
    color: #a1c4fd;
    border: 1px solid #191970;
}

#search-button:hover, #location-button:hover {
    color: #191970;
    background-color:#a1c4fd;
}

#description {
    padding-left: 10px;
}

#day-descrip:first-letter, #time-updated:first-letter {
    text-transform: capitalize;
}

